Python assignment

In [1]:
conda install biopython

Collecting package metadata (current_repodata.json): ...working... done
Solving environment: ...working... done

# All requested packages already installed.


Note: you may need to restart the kernel to use updated packages.

In [2]:
import Bio
from Bio import SeqIO
from Bio.SeqRecord import SeqRecord #addional package
from Bio.Data import CodonTable
import pandas as pd
from Bio.SeqUtils.ProtParam import ProteinAnalysis
from Bio.SeqUtils import GC

#### 1
#### Function to get sequence

In [3]:
def get_sequences_from_file(fasta_fn):
    sequence_data_dict = {}
    for record in SeqIO.parse(fasta_fn, "fasta"):
        description = record.description.split()
        species_name = description[1] + " " + description[2]
        sequence_data_dict[species_name] = record.seq
    return(sequence_data_dict)

#### Start inspecting the file "penguins_cytb.fasta"

In [4]:
Penguin_seq = SeqIO.parse('penguins_cytb.fasta', 'fasta') # reads the sequences and assigns them to "Penguin_seq"

Print the number of sequences present in the fasta file

In [5]:
count = 0
for record in Penguin_seq:
    count +=1
count

12

In [6]:
for Penguin_seq in SeqIO.parse('penguins_cytb.fasta', 'fasta'): #print the seq ID, description, part of the sequence and length
    print(Penguin_seq.id)  
    print(Penguin_seq.description)
    print(repr(Penguin_seq.seq)) 
    print(len(Penguin_seq))

AB026282
AB026282 Aptenodytes forsteri mitochondrial gene for cytochrome b, complete cds, haplotype:a
Seq('ATGGCCCCAAATCTCCGAAAATCCCATCCCCTCCTAAAAATAATTAATAACTCC...TAA')
1143
AF076044
AF076044 Aptenodytes patagonicus cytochrome b (cytb) gene, mitochondrial gene encoding mitochondrial protein, complete cds
Seq('ATGGCCCCAAACCTCCGAAAATCCCATCCTCTCCTAAAAATAATTAATAACTCC...TAA')
1143
AF076051
AF076051 Eudyptes chrysocome cytochrome b (cytb) gene, mitochondrial gene encoding mitochondrial protein, complete cds
Seq('ATGGCCCCCAACCTCCGAAAATCCCACCCCCTCCTAAAAACAATCAATAACTCC...TAA')
1143
AF076052
AF076052 Eudyptes chrysolophus cytochrome b (cytb) gene, mitochondrial gene encoding mitochondrial protein, complete cds
Seq('ATGGCCCCCAACCTCCGAAAATCCCACCCCCTCCTAAAAACAATCAATAACTCC...TAA')
1143
AB026277
AB026277 Eudyptes sclateri mitochondrial gene for cytochrome b, complete cds
Seq('ATGGCCCCCAACCTCCGAAAATCCCACCCCCTCCTAAAAACAATCAATAACTCC...TAA')
1143
AB026278
AB026278 Eudyptula minor mitochondrial gene for cytochrome b, complete cds
Seq('ATGGCCCCCAACCTCCGAAAATCTCACCCCCTCCTAAAAATAATCAACAACTCT...TAA')
1143
AB066603
AB066603 Pygoscelis adeliae mitochondrial gene for cytochrome b, complete cds, haplotype:c
Seq('ATGGCCCCCAACCTCCGAAAATCCCACCCTCTCCTAAAAATAATTAACAACTCC...TAA')
1143
AF076089
AF076089 Pygoscelis antarctica cytochrome b (cytb) gene, mitochondrial gene encoding mitochondrial protein, complete cds
Seq('ATGGCCCCCAACCTCCGAAAATCCCACCCTCTCCTAAAAATAATCAACAACTCC...TAG')
1143
AF076090
AF076090 Pygoscelis papua cytochrome b (cytb) gene, mitochondrial gene encoding mitochondrial protein, complete cds
Seq('ATGGCCCCCAACCTTCGAAAATCCCACCCTCTCCTAAAAATAATCAACAAATCC...TAG')
1143
AB026269
AB026269 Spheniscus demersus mitochondrial gene for cytochrome b, complete cds
Seq('ATGGCCCCCAACCTCCGAAAATCCCACCCTCTCCTAAAAACAATCAACAACTCC...TAA')
1143
AB026271
AB026271 Spheniscus humboldti mitochondrial gene for cytochrome b, complete cds, haplotype:a
Seq('ATGGCCCCCAACCTCCGAAAATCCCACCCTCTCCTAAAAACAATCAACAACTCC...TAA')
1143
AB026270
AB026270 Spheniscus magellanicus mitochondrial gene for cytochrome b, complete cds
Seq('ATGGCCCCCAACCTCCGAAAATCCCACCCTCTCCTAAAAACAATCAACAACTCC...TAA')
1143

####2
#### Translate string function
#### translates sequences to amino acids
#### All sequences start at codon position 1

In [7]:
## create string_translate function

def translate_function(string_nuc): 
    mito_table = CodonTable.unambiguous_dna_by_name["Vertebrate Mitochondrial"] 
    aa_string = [] # empty amino acid list
    for nuc in range(0, len(string_nuc),3):
        codon = string_nuc[nuc:nuc +3]
        
        if codon == 'AGA' or codon == 'AGG'  or codon == 'TAA' or codon == 'TAG': #This lines checks for stop codons
            break #stops once it encounters stop codons 
        else:
            aa = mito_table.forward_table[codon] #extracts the amino acid from table
            aa_string.append(aa) # this adds the aa to aa_seq_string       
       
    return "".join(aa_string) #returns a string of sequence

In [8]:
mito_table = CodonTable.unambiguous_dna_by_name["Vertebrate Mitochondrial"] 
print(mito_table)

Table 2 Vertebrate Mitochondrial, SGC1

  |  T      |  C      |  A      |  G      |
--+---------+---------+---------+---------+--
T | TTT F   | TCT S   | TAT Y   | TGT C   | T
T | TTC F   | TCC S   | TAC Y   | TGC C   | C
T | TTA L   | TCA S   | TAA Stop| TGA W   | A
T | TTG L   | TCG S   | TAG Stop| TGG W   | G
--+---------+---------+---------+---------+--
C | CTT L   | CCT P   | CAT H   | CGT R   | T
C | CTC L   | CCC P   | CAC H   | CGC R   | C
C | CTA L   | CCA P   | CAA Q   | CGA R   | A
C | CTG L   | CCG P   | CAG Q   | CGG R   | G
--+---------+---------+---------+---------+--
A | ATT I(s)| ACT T   | AAT N   | AGT S   | T
A | ATC I(s)| ACC T   | AAC N   | AGC S   | C
A | ATA M(s)| ACA T   | AAA K   | AGA Stop| A
A | ATG M(s)| ACG T   | AAG K   | AGG Stop| G
--+---------+---------+---------+---------+--
G | GTT V   | GCT A   | GAT D   | GGT G   | T
G | GTC V   | GCC A   | GAC D   | GGC G   | C
G | GTA V   | GCA A   | GAA E   | GGA G   | A
G | GTG V(s)| GCG A   | GAG E   | GGG G   | G
--+---------+---------+---------+---------+--

#### 3
#### Aternate way to translate the sequences to amino acid codons

In [9]:
def translate(string_nuc):
    amino_acid = string_nuc.translate(table=2, to_stop=T)
    return str(amino_acid)

#### 4
#### AA ANALYSIS FUNCTION
#### using 'from Bio.SeqUtils.ProtParam import ProteinAnalysis'
#### computing molecular weight of amino acids

In [10]:
def compute_molecular_weight(aa_seq):
    mol_weight = ProteinAnalysis(aa_seq).molecular_weight()
    return mol_weight

## 5 ##
####### YOUR GC CONTENT ANALYSIS FUNCTION ########
#### Write a function that calculates the GC-content (proportion of "G" and "C") of each DNA sequence and returns this value.

In [21]:
cytb_seqs = get_sequences_from_file("penguins_cytb.fasta") #read the fasta file into "cytb_seqs"
penguins_df = pd.read_csv("penguins_mass.csv") # Includes only data for body mass 
species_list = list(penguins_df.species) # list the different species of penguins

In [18]:
def GC_content(cytb_seqs):
    count = 0
    for base in cytb_seqs:
        if base == 'G' or base == 'C':
            count+=1
    perce = count/len(cytb_seqs)*100 # percentatge of GC content
    
    return (perce)

## 6 ## 
#### Add two new columns to the penguin DataFrame: (1) molecular weight and (2) GC content.
#### Set the value to 'NaN' to indicate that these cells are currently empty.

In [13]:
penguins_df # view the dataframe

                    species   mass
0      Aptenodytes forsteri  28.00
1   Aptenodytes patagonicus  13.40
2       Eudyptes chrysocome   2.80
3     Eudyptes chrysolophus   4.50
4         Eudyptes sclateri   4.25
5           Eudyptula minor   1.60
6        Pygoscelis adeliae   4.60
7     Pygoscelis antarctica   4.10
8          Pygoscelis papua   6.10
9       Spheniscus demersus   3.20
10     Spheniscus humboldti   4.75
11  Spheniscus magellanicus   3.40

In [14]:
penguins_df1 = penguins_df.assign(molecular_weight = 'NaN', GC_content='NaN') # adding new columns to the dataframe

In [15]:
penguins_df1 # view new dataframe "penguins_df1"

                    species   mass molecular_weight GC_content
0      Aptenodytes forsteri  28.00              NaN        NaN
1   Aptenodytes patagonicus  13.40              NaN        NaN
2       Eudyptes chrysocome   2.80              NaN        NaN
3     Eudyptes chrysolophus   4.50              NaN        NaN
4         Eudyptes sclateri   4.25              NaN        NaN
5           Eudyptula minor   1.60              NaN        NaN
6        Pygoscelis adeliae   4.60              NaN        NaN
7     Pygoscelis antarctica   4.10              NaN        NaN
8          Pygoscelis papua   6.10              NaN        NaN
9       Spheniscus demersus   3.20              NaN        NaN
10     Spheniscus humboldti   4.75              NaN        NaN
11  Spheniscus magellanicus   3.40              NaN        NaN

## 7 ##
#### Write a for-loop that translates each sequence and also gets molecular weight and computes the GC content
#### of each translated sequence and adds those data to DataFrame

In [19]:
for key, value in cytb_seqs.items(): 
    aa_seq = translate_function(value)
    molecular_weight = compute_molecular_weight(aa_seq)
    GC_perce = GC_content(value)
    
    for index, row in penguins_df1.iterrows():
        if row['species'] == key:
            penguins_df1.loc[index, 'molecular_weight'] = molecular_weight
            penguins_df1.loc[index, 'GC_content'] = GC_perce

In [20]:
penguins_df1

                    species   mass molecular_weight GC_content
0      Aptenodytes forsteri  28.00       42459.6021  48.381452
1   Aptenodytes patagonicus  13.40       42563.7067  49.693788
2       Eudyptes chrysocome   2.80       42475.5753  51.181102
3     Eudyptes chrysolophus   4.50       42445.5493  50.918635
4         Eudyptes sclateri   4.25       42475.5753  50.831146
5           Eudyptula minor   1.60       42491.6408  49.256343
6        Pygoscelis adeliae   4.60        42458.614  49.081365
7     Pygoscelis antarctica   4.10       42404.5423  47.769029
8          Pygoscelis papua   6.10       42595.8759  47.156605
9       Spheniscus demersus   3.20        42431.549  48.293963
10     Spheniscus humboldti   4.75        42399.552  49.256343
11  Spheniscus magellanicus   3.40       42459.6021  48.206474